
build/app/intermediates/merged_native_libs/debug/out/lib/arm64-v8a/libVkLayer_khronos_validation.so
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/flutter_gen/gen_l10n/app_localizations.dart
.dart_tool/flutter_gen/gen_l10n/app_localizations_ar.dart
.dart_tool/flutter_gen/gen_l10n/app_localizations_en.dart
.dart_tool/flutter_gen/pubspec.yaml
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
build/.last_build_id
build/5ac2f0046179d5c246a76aed8c877cba/.filecache
build/5ac2f0046179d5c246a76aed8c877cba/gen_l10n_inputs_and_outputs.json
build/5ac2f0046179d5c246a76aed8c877cba/gen_localizations.d
build/5ac2f0046179d5c246a76aed8c877cba/gen_localizations.stamp
build/5ac2f0046179d5c246a76aed8c877cba/outputs.json
